body {
  width: 100%;
  background-color: #dff6ff;
  margin: 0px;
  padding: 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-style: none;
}

header {
  background-color: #256d85;
  margin-top: 0px;
  padding-top: 0px;
  height: 120px;
}

footer {
  background-color: #256d85;
  margin-top: 0px;
  padding-top: 0px;
  height: 100px;
  width: 100%;
  position: absolute;
}

#content {
  width: 100%;
  height: 716px;
  margin-right: auto;
  margin-right: auto;
  justify-content: center;
}

#tittle {
  text-align: center;
  font-size: 50px;
  margin-top: 0px;
  padding-top: 28px;
  color: #06283d;
}

#todo {
  background-color: #90bcda;
  border-color: #90bcda;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  font-size: 30px;
  text-align: center;
  width: 500px;
  height: 35px;
  margin-top: 80px;
  justify-content: center;
  margin-left: 33%;
  padding: 0px;
  outline-style: none;
  font-family: sans-serif;
}

input::placeholder {
  color: #06283d;
  opacity: 0.3;
  font-weight: bold;
}

#add {
  width: 42px;
  height: 42px;
  color: #06283d;
  background-color: #256d85;
  border-style: none;
  border-radius: 8px;
  margin-top: 70px;
  margin-right: auto;
  display: inline;
  padding: 0px;
  margin-top: 0px;
  position: relative;
  text-align: center;
}

#add:active {
  box-shadow: 0px 0px 2px 3px #06283d inset;
}

ul {
  height: 500px;
  margin-top: 80px;
  padding: 0px;
  list-style: none;
  margin-left: 30%;
  overflow-y: auto;
  /* margin-right: auto; */
  /* margin-right: 30%; */
}

li {
  background-color: aliceblue;
  border-bottom: #4a535a;
  border: 5px;
  height: 40px;
  width: 702px;
  color: #06283d;
  text-align: left;
  border-radius: 8px;
  /* position: relative; */
  font-size: 30px;
  margin-top: 4px;
  border-style: solid;
}

/* img {
  background: none;
  text-align: right;
  display: inline;
} */
li:focus {
  text-decoration: line-through;
  background-color: #256d85;
}

.cancelButton {
  width: 50px;
  height: 50px;
  background-color: #06283d;
  color: aliceblue;
  margin-right: auto;
  padding: 0px;
  border: 0px;
  position: relative;
  border-radius: 8px;
  justify-self: right;
  text-align: center;
}

.cancelButton:active {
  box-shadow: 0px 0px 3px 3px #63a3ca inset;
}

.listDiv {
  display: flex;
}
